body {
	background-color: #555;
}

header h1 {
	display: none;
}

#jzt {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

footer {
	font-family: sans-serif;
	position: absolute;
	font-size: 0.6em;
	bottom: 0;
	right: 0;
	margin: 0 5px 0 0;
	color: #333;
}