body {
    background-color: #555;
}

canvas {
    display: block;
    width: 800px;
    height: 600px;
    margin: 2em auto;
}

canvas.loading {
    background-image: url(../images/rings.svg);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
