.board-selector-item {
    padding: 0 1em 0 1em;
}

#main-navigation [data-dropdown="board"] {
    min-width: 300px;
}

.row.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

small.description {
    font-size: small;
    color: silver;
    margin: 0 0 0 1em;
    padding: 0;
    text-transform: none;
}

.advanced {
    display: none;
}

body.advanced-mode .advanced {
    display: block;
}

#edit-area {
    padding: 0;
}

#edit-area canvas {
    position: relative;
    width: 100%;
}

.top-bar-section .button.active {
    background-color: #00afe8;
}

dl.tabs {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    background-color: silver;
}

input[type="checkbox"] {
    width: 100%;
}

.script-warning {
    margin: 1em 0;
    border: 1px solid #ffbd64;
    border-radius: 5em;
    padding: 0 0 0 .5em;
}

#toolscripts.noscript .scriptcontainer,
#toolscripts.noscript select,
#toolscripts.noscript button[data-id="delete"] {
    display: none;
}

.scriptcontainer {
    border: 1px solid silver;
    border-width: 1px;
    margin-bottom: 1em;
}

.warning-icon {
    color: #e38300;
}

/* JZT CodeMirror Theme */
.cm-s-jzt span.cm-command {font-weight: bold;}
.cm-s-jzt span.cm-expression {font-style: italic}
.cm-s-jzt span.cm-number {color: #b79361;}
.cm-s-jzt span.cm-comment {color: #3F7F5F; font-style: italic;}
.cm-s-jzt span.cm-string {color: #5796aa;}
.cm-s-jzt span.cm-label {color: #808080; font-style: italic;}
