html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
}

header h1 {
	display: none;
}

#jzt {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

footer {
	font-family: sans-serif;
	position: absolute;
	font-size: 0.6em;
	bottom: 0;
	right: 0;
	margin: 0 5px 0 0;
	color: #333;
}

.jzt-sliding-container,
.jzt-top-content {
	height: 100%;
}

.jzt-top-content {
	overflow-y: scroll;
	position: relative;
	box-shadow: 5px 0 10px rgba(0,0,0,.25);
	left: 0;
	z-index: 99;
	height: 100%;
	background-color: #555;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.jzt-sliding-container {
	position: relative;
	overflow: hidden;
}

.jzt-bottom-content {
	position: absolute;
	background-color: white;
	top: 0;
	right: 0;
	z-index: 1;
	width: 300px;
	height: 100%;
	overflow-y: scroll;
}

.open .jzt-top-content {
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
}

.open .jzt-bottom-content {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.jzt-bottom-content .panel {
	padding: 1em;
}

ul.toggles {
	padding: 5px 2px 0 0;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}

ul.toggles li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slide-toggle,
.side-button {
	border-radius: 2px;
	width: 1em;
	height: 1em;
	margin: 5px;
	color: #AAA;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	line-height: 1em;
	vertical-align: middle;
	padding: 3px 1px 1px 3px;
	display: block;
	cursor: pointer;
}

.slide-toggle.active {
	background-color: #444;
	box-shadow: 2px 2px 3px rgba(0,0,0,.25) inset;
}

.slide-toggle.active:hover {
	box-shadow: 2px 2px 3px rgba(0,0,0,.25) inset;
	padding: 3px 1px 1px 3px;
}

.slide-toggle:hover,
.side-button:hover {
	background-color: #666;
	box-shadow: 2px 2px 3px rgba(0,0,0,.25);
	color: white;
	padding: 2px;
}